body, html, uib-tabset, uib-tab {
    height: 100%;
}
div {
    /*border-style: solid;
    border-width: 1px;*/
}
/*
.header {
    height: 20%
}*/
.container-fluid, .tab-content, .main, .tab-pane, .tab-area{
  height: 100%;
}
.network {
    background-color: #AFAFAF;
    height: 100%
}
/*.highlight-grouped-reward {	
  	background: lightblue;
  	box-shadow:5px 0 0 lightblue, -5px 0 0 lightblue;
  	padding: 11px 0;
  	margin:1px 5px;
}*/

/* needed by angular bootstrap */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }